<h1>{{sectionTitle | capitalize}} Movies</h1>

<div class="row">
  <div class="col-md-3 col-sm-6">
    <div class="card">
      <img class="card-img-top" src="jp.jpg" alt="Jurassic Park">
      <div class="card-body">
        <h4 class="card-title">Jurassic Park</h4>
        <span class="badge badge-secondary">
          <i class="fa fa-user"></i> Steven Spielberg</span>
        <p class="card-text">A wealthy entrepreneur secretly creates a theme park featuring living dinosaurs drawn from prehistoric DNA....</p>
        <!-- Before opening day, he invites a team of experts and his two eager grandchildren to experience the park and help calm anxious investors. However, the park is anything but amusing as the security systems go off-line and the dinosaurs escape.-->
        <a href="#" class="btn btn-sm btn-outline-secondary">
          <i class="fa fa-heart-o"></i> Recommend</a>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6">
    <div class="card">
      <img class="card-img-top" src="it.jpg" alt="It">
      <div class="card-body">
        <h4 class="card-title">It</h4>
        <span class="badge badge-secondary">
          <i class="fa fa-user"></i> Andy Muschietti</span>
        <p class="card-text">In a small town in Maine, seven children known as The Losers Club come face to face with life problems, bullies
          and a monster...</p>
        <!--that takes the shape of a clown called Pennywise.-->
        <a href="#" class="btn btn-sm btn-outline-secondary">
          <i class="fa fa-heart-o"></i> Recommend</a>
      </div>
    </div>
  </div>
</div>