<h1>{{sectionTitle | capitalize}} Movies</h1>
<p *ngIf="!movies">Loading...</p>
<div class="row">
  <div class="col-md-3 col-sm-6" *ngFor="let movie of movies">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">{{movie.title}}</h4>
        <p class="card-text">{{movie.overview}}</p>
        <button class="btn btn-sm btn-outline-secondary" (click)="toggleRecommend(movie)">
          <i class="fa {{movie.recommended ? 'fa-trash-o' : 'fa-heart-o'}}"></i> {{movie.recommended ? "Unrecommend" : "Recommend"}}</button>
      </div>
    </div>
  </div>
</div>