<header>
    <nav class="navbar navbar-expand navbar-light bg-light">
        <a class="navbar-brand" href="#"><i class="fa fa-film" aria-hidden="true"></i> Movie</a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" routerLink="/dashboard">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/movies/trending">Trending</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/movies/upcoming">Upcoming</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/movies/recommendations">Recommendations</a>
            </li>
        </ul>
    </nav>
</header>
<router-outlet></router-outlet>